<ion-header [translucent]="true" class="color-primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">UDİ BİBLİYA kids</ion-title>
  </ion-toolbar>
  <ion-button class="button-earth">
    <ion-icon class="icon-earth" size="large" slot="icon-only" name="earth"></ion-icon>
  </ion-button>
  <span class="border-bottom-half"></span>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
  </div>
</ion-content>
